* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
}

.video-container {
	width: 64%;
	background-color: #eee;
	border-right: 1px solid #ccc;
	padding: 20px;
}

.sidebar {
	width: 36%;
	background-color: #fff;
	padding: 20px;
	display: flex;
    flex-direction: column;
}

.pie-chart {
	margin-bottom: 20px;
	height: 480px;
	width: 480px;
	padding-right: 20px;
	background-color: #f0f0f0;
	/* margin-right: auto; */
	/* margin-left: 0; */
}
  